<script lang="ts">
    import { onMount, createEventDispatcher } from "svelte";
    import Permission from "./Permission";

    const dispatch = createEventDispatcher();

    export let permission!: Permission;

    let buttonLabel: string = "";

    onMount(async () => {
        try {
            buttonLabel = browser.i18n.getMessage("remove");
        } catch {
            buttonLabel = "[Remove]";
        }
    });

    async function onClick() {
        let removing = await browser.permissions.remove({ origins: [permission.pattern] });
        if (removing) {
            dispatch("removePermission", { permission });
        }
    }
</script>

<template>
    <tr>
        <td>{permission.host}</td>
        <td>
            <button class="remove-button" on:click={onClick} type="button" title={buttonLabel}>❌</button>
        </td>
    </tr>
</template>

<style>
    .remove-button:hover {
        background-color: rgba(255, 0, 0, 0.2);
    }
</style>
